<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%-include('sematic-ui')%>
</head>

<body style="background-color: whitesmoke;">
    <!-- sidebar -->
    <%-include('portal-nav')%>
        <br>
        <br>
        <br><br>
        <table class="ui compact celled definition table">
            <h3>Your Allocated Coursework's</h3>
            <thead class="full-width">

                <tr>

                    <th>Allocation Name</th>
                    <th>Lecturer Name</th>
                    <th>Email</th>
                    <th>Coursework</th>
                    <th>Upload</th>

                </tr>
            </thead>
            <tbody>
                <% if(result.length > 0){%>
                    <% result.forEach(function(allocation){%>
                        <tr>
                            <td>
                                <%=allocation.name %>
                            </td>
                            <td>
                                <%=allocation.first_name %>
                                    <%=allocation.last_name %>
                            </td>
                            <td>
                                <i class="address book icon"></i>
                                <%=allocation.email %>
                            </td>
                            <td>
                                <a href="/uploads/<%=allocation.coursework %>">
                                    <%=allocation.coursework %><i class="download icon"></i>
                                </a>
                            </td>
                            <td>
                                <form class="ui form" method="post" enctype="multipart/form-data">
                                    <div class="field">
                                        <input type="file" name="coursework" value="<%=allocation.id %>" />
                                        <input type="hidden" name="id" value="<%=allocation.id %>" />
                                        <input type="hidden" name="coursework_name" value=" <%=allocation.name %>" />
                                        <button class="ui button blue" type="submit">Submit</button>
                                    </div>
                                </form>

                            </td>
                        </tr>
                        <%});%>
                            <%}%>
            </tbody>

        </table>
        <div class="ui inverted vertical footer" style="bottom: 0%; position: fixed; width: 100%; margin-top: -50px;">

            <div class="ui center aligned container">
                <p>Cyber Academy 2022</p>
            </div>
        </div>
</body>

</html>