<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%-include('sematic-ui')%>
</head>

<body>
    <!-- sidebar -->
    <%-include('admin-nav')%>
        <br>
        <br>
        <br></br>
        <table class="ui compact celled definition table">
            <thead class="full-width">
                <div class="field ">
                    <% if(message.length > 0){%>
                        <div class="ui center aligned negative message">
                            <i class="close icon"></i>
                            <div class="header">
                                <%=message %>
                            </div>
                        </div>
                        <%}%>
                </div>
                <tr>

                    <th>Module ID</th>
                    <th>Name</th>
                    <th>Lecturer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% record.forEach(function(student){%>
                    <tr>
                        <td>
                            <%=student.id%>
                        </td>
                        <td><i class="book icon"></i>
                            <%=student.name%>
                        </td>
                        <td><i class="id badge icon"></i>
                            <%=student.first_name%>
                                <%=student.last_name%>
                        </td>

                        <td>
                            <div class="ui right floated">
                                <a href='/management/admin/programs/delete?id=<%=student.id%>' class="ui small red button"><i class="trash icon"></i>Delete</a>

                            </div>
                        </td>
                    </tr>
                    <%});%>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="6">
                        <div class="ui center floated ">
                            <a href="/management/admin/programs/add" class="ui small primary button"><i class="plus square icon"></i>Add Course</a>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
        <div class="ui inverted vertical footer segment" style="bottom: 0%; position: fixed; width: 100%;">

            <div class="ui center aligned container">
                <p>Cyber Academy 2022</p>
            </div>
        </div>
</body>

</html>