<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%-include('sematic-ui')%>
</head>

<body>
    <!-- sidebar -->
    <%-include('admin-nav')%>
        <br>
        <br><br><br><br>
        <div class="container">
            <div class="ui raised very padded text container segment ">
                <h2 class="ui header">EDIT STUDENT DETAILS</h2>
                <form class="ui form" method="post" action="">
                    <div class="field">
                        <% if(message.length > 0){%>
                            <div class="ui negative message">
                                <i class="close icon"></i>
                                <div class="header">
                                    <%=message %>
                                </div>
                            </div>
                            <%}%>
                    </div>
                    <% record.forEach(function(student){%>


                        <div class="field">
                            <label>First Name</label>
                            <input type="text" name="first_name" placeholder="first name" value="<%=student.first_name%>">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" name="last_name" placeholder="last name" value="<%=student.last_name%>">
                        </div>
                        <div class="field">
                            <label>Email</label>
                            <input type="email" name="email" placeholder="example@email.com" value="<%=student.email%>">
                            <input type="hidden" name="id" value="<%=student.id%>">
                        </div>
                        <div class="field">
                            <label>Program ID</label>
                            <input type="text" name="id" placeholder="1 or 2">
                        </div>
                        <div class="ui form">

                            <br>

                            <button class="ui button teal" type="submit">Update</button>
                        </div>
                        <%});%>
                </form>
            </div>
        </div>
        </div>
        <div class="ui inverted vertical footer segment" style="bottom: 0%; position: fixed; width: 100%;">

            <div class="ui center aligned container">
                <p>Cyber Academy 2022</p>
            </div>
        </div>
</body>

</html>